<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF8">
        <meta http-equiv="X-UA-Compatible" content="ID=Edge">
        <title>喵呜</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/css/main_peyton.css">
        {{#each sources}}
        <link rel="stylesheet" href={{source}}>
        {{/each}}
    </head>

    <body>
        <header id="appHeader">
            <div class="header-navs">
                <ul class="header-left">
                    <li><a class="header-link" href="/">暗流</a></li>
                </ul>
                <ul class="header-right">
                    <li><a class="header-link" href="/blogs/peyton">博客</a></li>
                    <li><a class="header-link" href="/demos/peyton">实验室</a></li>
                    <li><a class="header-link" href="/collections/peyton">储物室</a></li>
                    <li><a class="header-link" href="/comments/peyton">留言</a></li>
                </ul>
            </div>
        </header>

        {{{body}}}

    </body>
</html>