<script type="text/javascript" src="/bower_components/kity/dist/kity.min.js"></script>
<script id="minder-view" type="application/kityminder" minder-data-type="json">{{{minderData}}}</script>

<div id="blogsContainer">
</div>

<script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/fex-team/kityminder-core/dev/dist/kityminder.core.min.js"></script>
<script type="text/javascript" src="/javascripts/blogs.js"></script>
