<section class="page">
    <figure>
        <img class="my-photo anima" src="/images/myPhoto.jpg" alt="博主相片">
        <figcaption>Peyton Zhao</figcaption>
    </figure>
    <p>90后，处女座，在读研究生，目标为<a class="login-a" href="/login">高级前端工程师</a>。</p>
    <p>爱学习；爱思考；爱挑战；爱生活。</p>
    <div class="flex-row">
        <a class="contact-icon" href="https://github.com/zhaopeifei" title="Github" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" xml:space="preserve">
                <path d="M30.4,40h-4h-4c0,0,0-2.4,0-4c-5.5,1.2-7-3-7-3c-1-2-2-3-2-3c-2-1.2,0-1,0-1c2,0,3,2,3,2  c1.8,3,4.9,2.5,6,2c0-1,0.4-2.5,1-3c-4.4-0.5-8-3-8-8s1-6,2-7c-0.2-0.5-1-2.3,0-5c0,0,2,0,4,3c1-1,4-1,5-1c1,0,4,0,5,1c2-3,4-3,4-3  c1.1,2.7,0.2,4.5,0,5c1,1,2,2,2,7s-3.6,7.5-8,8c0.6,0.5,1,2.2,1,3L30.4,40L30.4,40z" />
            </svg></a>
        <a class="contact-icon" href="http://codepen.io/peytonzhao/" title="CodePen" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                <g>
                    <path d="M40,20.2c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1  c0,0,0,0,0-0.1c0,0,0-0.1-0.1-0.1c0,0,0,0,0-0.1c0,0,0,0-0.1-0.1c0,0,0,0-0.1,0c0,0,0,0-0.1-0.1c0,0,0,0-0.1,0c0,0,0,0,0,0  l-13.7-9.1c-0.4-0.3-1-0.3-1.4,0l-13.7,9.1c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0-0.1,0.1c0,0,0,0-0.1,0c0,0,0,0-0.1,0.1c0,0,0,0,0,0.1  c0,0,0,0.1-0.1,0.1c0,0,0,0,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1  c0,0.1,0,0.1,0,0.2v9.1c0,0.1,0,0.1,0,0.2c0,0,0,0,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1  c0,0,0,0.1,0,0.1c0,0,0,0,0,0.1c0,0,0,0.1,0.1,0.1c0,0,0,0,0,0.1c0,0,0,0,0.1,0.1c0,0,0,0,0.1,0.1c0,0,0,0,0.1,0.1c0,0,0,0,0.1,0  c0,0,0,0,0,0l13.7,9.1c0.2,0.1,0.5,0.2,0.7,0.2c0.2,0,0.5-0.1,0.7-0.2l13.7-9.1c0,0,0,0,0,0c0,0,0,0,0.1,0c0,0,0.1,0,0.1-0.1  c0,0,0,0,0.1-0.1c0,0,0,0,0.1-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0.1-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1  c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0,0-0.1c0,0,0-0.1,0-0.2v-9.1C40,20.4,40,20.3,40,20.2C40,20.2,40,20.2,40,20.2z M25,28  l-4.6-3l4.6-3l4.6,3L25,28z M23.7,19.7l-5.6,3.7l-4.5-3l10.1-6.7L23.7,19.7z M15.8,25l-3.2,2.2v-4.3L15.8,25z M18.1,26.5l5.6,3.7v6  l-10.1-6.7L18.1,26.5z M26.3,30.3l5.6-3.7l4.5,3l-10.1,6.7V30.3z M34.2,25l3.2-2.2v4.3L34.2,25z M31.9,23.4l-5.6-3.7v-6l10.1,6.7  L31.9,23.4z" />
                </g>
            </svg></a>
        <a class="contact-icon" href="http://www.linkedin.com/in/%E5%9F%B9%E9%9C%8F-%E8%B5%B5-143419122" title="Linkedin" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <g>
                    <path d="M326.6,375.6c0-2.2,0-4.1,0-6.1c0-26.7,0.1-53.3-0.1-80c0-4.6-0.4-9.4-1.5-13.8c-3.6-14.8-15.6-22.2-32.9-20.8   c-12.8,1-24.3,12.4-25.2,25.6c-0.6,8-0.4,16-0.5,24c-0.1,21.7,0,43.3,0,65c0,2,0,3.9,0,6.2c-16.2,0-32,0-48.1,0   c0-52,0-104.1,0-156.4c15.7,0,31.4,0,47.7,0c0,6.1,0,12.3,0,19.8c1.7-2,2.7-3,3.4-4.2c21.6-32.4,80.2-28.9,97.6,9.3   c4.8,10.6,7.7,21.7,7.8,33.3c0.3,32.1,0.2,64.3,0.2,96.5c0,0.5-0.1,1-0.3,1.8C358.9,375.6,343,375.6,326.6,375.6z"/>
                    <path d="M187.5,375.8c-16.1,0-31.7,0-47.7,0c0-51.9,0-103.6,0-155.6c15.9,0,31.6,0,47.7,0C187.5,271.9,187.5,323.6,187.5,375.8z"/>
                    <path d="M162.2,189c-14.3-0.1-24.3-10.5-24.2-24.9s10.5-24.3,25.4-24.2c14.2,0.1,24.5,10.6,24.3,24.9   C187.7,179,177,189.1,162.2,189z"/>
                </g>
            </svg></a>
        <a class="contact-icon" href="mailto:peytonzhao88@gmail.com" title="peytonzhao88@gmail.com" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <g>
                    <polygon points="6.518,21.815 11.707,15.291 6.518,12.119"/>
                    <polygon points="19.5,15.746 15.989,17.908 12.472,15.758 7.11,22.5 24.867,22.5"/>
                    <polygon points="15.988,16.864 25.482,11.017 25.482,9.5 6.518,9.5 6.518,11.076"/>
                    <polygon points="20.263,15.276 25.482,21.843 25.482,12.062"/>
                </g>
            </svg></a>
    </div>
</section> 

<section class="page">
    <h1>暗流</h1>
    <p>不要浮于表面，沉下心，窥探暗流的奥秘</p>
    <div class="flex-row">
        <a class="abstract-pro" href="/blogs">
            <div>
                <h3>博客</h3>
                <p>本栏目记录了我的一些学习内容及思考，为本个人网站的核心内容。并且使用了脑图对知识点进行分类整合，而没有采用常用的category和tage。</p>
            </div></a>
        <a class="abstract-pro" href="/profile">
            <div>
                <h3>实验室</h3>
                <p>本栏目记录了我为兴趣或实验某项技术所做的一些demo</p>
            </div></a>
        <a class="abstract-pro" href="/comments">
            <div>
                <h3>留言</h3>
                <p>欢迎留言，也欢迎使用上面的方式联系我</p>
            </div></a>
    </div>
</section> 